<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
        <add key="flightservice.driver" value="org.postgresql.Driver"/>
        <add key="flightservice.url" value="Server=127.0.0.1; Port=5432; User Id=postgres; Password=postgres; Database=test;"/>
    </appSettings>
</configuration>
